build/
dist/
__pycache__/
*.pyc
.env
*.spec
!fieldsnek.spec
!buildozer.spec
!installer/installer.spec
tags
.tags

*.log
log.txt
buildozer_debug.log
.buildozer/
bin/

vendor/bundle/
.bundle/cache/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
*.gem
Gemfile.lock

.kivy/logs/
