#/FieldSnek/requirements.txt
ctranslate2
customtkinter>=5.2
faster-whisper>=1.0
geopy>=2.3
kivy[base] @ https://github.com/kivy/kivy/archive/master.zip
kivy-garden
numpy>=1.24
openpyxl>=3.0
ortools>=9.5
overpy>=0.7
pandas>=1.5
Pillow>=9.0
pyinstaller>=6.0
pyproj>=3.6
pytest>=8.0
pytest-cov>=5.0
pytest-mock>=3.12
python-dotenv>=1.0
requests>=2.28
requests-cache>=1.2
shapely>=2.0
sounddevice>=0.4.6
soundfile>=0.12
